/*SELECTOR UNIVERSAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*SELECTOR DE TIPO*/
body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: burlywood;
  padding-top: 80px;
  text-align: justify;
}

/*SELECTOR DE CLASE*/
.nav-bar{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFF0E4;
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 15px 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1 );
  z-index: 1000;
}

/*SELECTOR POR ID*/
#titulo-principal{
  margin-bottom: 40px;
  color: palevioletred;
  text-align: center;
}